singularity.autoMounts = true

env {
  PYTHONNOUSERSITE = 1
}

profiles {
    awsbatch {
      includeConfig 'conf/awsbatch.config'
    }
    local {
      includeConfig 'conf/local.config'
    }
    cluster {
		includeConfig 'conf/sge.config'
    }
    sge {
      includeConfig 'conf/sge.config'
    }
    standard {
      includeConfig 'conf/standard.config'
    }
}
