includeConfig "$baseDir/params.config"
includeConfig "$baseDir/nextflow.global.config"
singularity.cacheDir = "$baseDir/singularity"

process {
  withLabel: variant_proc {
       container = 'biocorecrg/mopmod:0.5'
       cpus = 8
       memory = '30G'
       time = '6h'
  } 
}
//singularity.enabled = true
