params {
    kit                 = "SQK-RNA002"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/data2/**/*.fast5"
    reference           = "$baseDir/anno/curlcake_constructs_EcoRV_BamHI_digestion.fasta.gz"
    annotation          = "$baseDir/anno/curlcake_constructs_EcoRV_BamHI_digestion.gtf.gz"
    ref_type            = "genome"

    seq_type            = "cDNA"
    output              = "$baseDir/output2"
    qualityqc           = 5
    granularity         = 1  

    basecalling         = "guppy"
    GPU                 = "ON"
    demultiplexing      = "guppy"
//deeplexicon"
//guppy"
    demulti_fast5       = "ON" 

    filtering              = "nanofilt"
   
    mapping              = "graphmap2"

    counting             = "htseq"

    variantcall         = "medaka"

    downsampling        = "NO"

    email               = ""
}
