params {
    kit                 = "SQK-RNA002"
    flowcell            = "FLO-MIN106"
    fast5               = "$baseDir/../data2/**/*.fast5"
    reference           = "$baseDir/../anno/curlcake_constructs_EcoRV_BamHI_digestion.fasta.gz"
    annotation          = "$baseDir/../anno/curlcake_constructs_EcoRV_BamHI_digestion.gtf.gz"
    ref_type            = "genome"

    pars_tools          = "drna_tool_opt.tsv" 
    output              = "$baseDir/output"
    qualityqc           = 5
    granularity         = 2  

    basecalling         = "guppy"
    GPU                 = "ON"
    demultiplexing      = "guppy"
//deeplexicon"
    demulti_fast5       = "ON" 

    filtering              = "nanofilt"
   
    mapping              = "graphmap2"

    counting             = "htseq"

    saveSpace           = "NO"

    email               = ""
}
