process {
	executor = 'local'
	cpus = 1
	memory = '7GB'    
    cache='lenient'
    container = 'biocorecrg/mopprepr:0.7'
    containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
    withLabel: basecall_gpus {
		maxForks = 1
	    containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
		   ( workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g) --gpus all': null ) } 
    }
}
