name: mop2-CI
# This workflow is triggered on pushes to the repository.
on: [push]

jobs:
  build:
    name: mop2 ci
    # This job runs on Linux
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        java_version: ['11.0.4']

    steps:
      - name: Environment
        run: env | sort

      - name: Checkout
        uses: actions/checkout@v1
        with:
          fetch-depth: 1
          submodules: true

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}
          architecture: x64

      - name: MOP2
        run: |
          curl -fsSL get.nextflow.io | bash
          # Install Master Of Pores 2
          git clone --depth 1 --recurse-submodules https://github.com/biocorecrg/MOP2.git
          cd MOP2
          bash INSTALL.sh
          cd mop_preprocess 
          ../../nextflow run mop_preprocess.nf -with-docker -profile ci
          cd ../mop_mod
          ../../nextflow run mop_mod.nf -with-docker -profile ci
          cd ../mop_tail
           ../../nextflow run mop_tail.nf -with-docker -profile ci

        env:
          NXF_ANSI_LOG: false
